.content {
  @apply flex flex-col text-white z-10;

  h1 {
    font-size: 192px;
    font-weight: 500;
    line-height: 1;
  }

  span {
    font-size: 20px;
    font-weight: 500;
    margin: 50px 0 100px;
  }

  button {
    box-shadow: 0 0 20px 0 hsl(0deg 0% 100% / 20%);

    &:hover {
      box-shadow: 0 0 20px 0 hsl(0deg 0% 100% / 10%);
      @apply bg-gray-100;
    }
  }
}

.wrapper {
  z-index: -2;
  @apply absolute top-0 left-0 w-full h-full;

  .art {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgb(21, 21, 21)), url('/assets/images/bg-404.jpg');
    @apply h-full bg-transparent bg-cover;
  }
}
