.root {
  color: white;
  background-color: hsla(0, 0%, 100%, 0.1);
  @apply space-x-2 px-1 inline-flex items-center rounded transition ease-in-out duration-150 shadow-sm text-center justify-center border border-transparent;
}

.root:hover {
  color: black;
  background-color: white;
}

.root:focus {
  @apply outline-none shadow;
}
